<%- include("partials/header") -%>
    <h1></h1>
    <p></p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <%= requestedPost.Title %>
            </h3>
        </div>
        <div class="panel-body">
            <p>
                <%= requestedPost.Content %>
            </p>
        </div>
    </div>

    <%- include("partials/footer") -%>